a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.nav-option:hover {
  background-color: #98bc24;
}

.option-active {
  background-color: #98bc24;
}

.text-green {
  color: #a7c52f;
}

.icon-container {
  border: 2px dashed #98bc24;
  height: 111px;
  width: 111px;
  border-radius: 50%;
}

img.icon {
  
}
