h1 {
  text-align: center;
}

.container {
  background-color: rgba(255, 159, 159, 0.671);
  height: 200px;
  margin-bottom: 50px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  height: 550px;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.elemento {
  background-color: green;
  width: 150px;
  height: 150px;
}
